body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fafaf9; 
}

.main-container {
    display: flex; 
    height: 100vh;
    width: 100vw;
}

#map {
    flex: 1;
    height: 100%;
    background-color: #f0f4f8; 
}

#ui-panel {
    width: 350px; 
    flex-shrink: 0; 
    padding: 30px;
    background-color: #ffffff;
    border-left: 1px solid #f0eef6;
    box-shadow: -4px 0 15px rgba(0,0,0,0.03); 
    z-index: 1000; 
    overflow-y: auto; 
}

h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 8px;
    color: #2f4f4f;
    background-color: #b8d8be; 
    text-align: center;
}

#submit-btn {
    width: 100%;
    padding: 12px 20px;
    background-color: #b8d8be;
    color: #2f4f4f;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s;
}

.leaflet-tooltip.district-label, 
.leaflet-tooltip-pane .leaflet-tooltip {
    outline: none !important;
    border: none !important; 
    box-shadow: none !important; 
}

.leaflet-interactive:focus {
    outline: none !important;
}

#submit-btn:hover {
   background-color: #a4c9ab;
   transform: translateY(-1px);
}


.info-box {
    background-color: #e2efda; 
    border: 1px solid #c8e0bc;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.leaflet-popup-content-wrapper {
    width: 320px !important;   
    border-bottom: 6px solid #27ae60; 
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}